/*------------------------------------*\
    #DESIGN TOKENS / VARIABLES
\*------------------------------------*/

/*
 * CONTENTS
 *
 * COLORS
 * Brand Colors...............Globally-available variables and config
 * Neutral Colors.............Grayscale colors, including white and black
 * Utility Colors.............Info, Warning, Error, Success
 *
 * TYPOGRAPHY
 * Font Families..............The fonts used in the design system
 * Sizing.....................Font sizing
 *
 * SPACING
 * Spacing defaults...........Spacing between elements
 *
 * BORDERS
 * Border Width...............Border thicknesses
 * Border Radius..............Border radius definitions
 *
 * BREAKPOINTS
 * Breakpoints................Global breakpoint definitions
 */

:root {
  /*------------------------------------*\
    #TYPOGRAPHY
  \*------------------------------------*/

  /*
   * Font Family
   */
  --font-primary: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /*
   * Font Sizing
   */
  --font-size-xxs: 0.5rem; /* 8px */
  --font-size-xs: 0.625rem; /* 10px */
  --font-size-sm: 0.75rem; /* 12px */
  --font-size-sm-1: 0.8125rem; /* 13px */
  --font-size-sm-2: 0.875rem; /* 14px */
  --font-size-med: 1rem; /* 16px */
  --font-size-med-1: 1.125rem; /* 18px */
  --font-size-med-2: 1.25rem; /* 20px */
  --font-size-large: 1.5rem; /* 24px */
  --font-size-large-1: 1.625rem; /* 26px */
  --font-size-xl: 2rem; /* 32px */
  --font-size-xl-number: 2.25rem; /* 36px */
  --font-size-xxl-number: 3.375rem; /* 54px */

  /*
   * Font Weight
   */
  --bold: 700;
  --bold-heavy: 1000;

  /*
   * Line Height
   */
  --line-height: 1.5;

  /*------------------------------------*\
    #SPACING
  \*------------------------------------*/

  /*
  * Spacing and offsets
  * Used to space grids and body padding
  */
  --spacing: 1rem; /* 16px */
  --spacing-xs: calc(0.25 * var(--spacing)); /* 4px */
  --spacing-small: calc(0.5 * var(--spacing)); /* 8px */
  --spacing-medium: calc(1.25 * var(--spacing)); /* 20px */
  --spacing-large: calc(2 * var(--spacing)); /* 32px */
  --spacing-xl: calc(4 * var(--spacing)); /* 64px */
  --spacing-xxl: calc(8 * var(--spacing)); /* 128px */

  /*------------------------------------*\
    #BORDERS
  \*------------------------------------*/

  /*
   * Border
   */
  --border-thickness: 2px;

  /*
   * Border radius
   */
  --border-radius: 4px;

  /*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/

  /*
 * Breakpoints used in media queries
 * These are not the only breakpoints used, but they provide a few defaults
 */

  /* Mobile */
  --bp-small: 28em; /* 448px */
  /* Tablet */
  --bp-med: 47em; /* 752px */
  /* Laptop */
  --bp-large: 60em; /* 960px */
  /* Large screen */
  --bp-xl: 70em; /* 1120px */

  /* mobile minimun screen width (iPhone5) */
  --min-screen-width: 20em; /* 320px */

  --header-height: calc(30px + var(--spacing) * 2);
}
